<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <meta name="robots" content="noindex, nofollow">
    <!--<link href="//fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800" rel="stylesheet" type="text/css">-->
    <link href="//fonts.googleapis.com/css?family=Montserrat:400,700|Oswald:400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="shortcut icon" type="image/png" href="images/favicon.gif" id="favicon"/>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="stylesheet" href="styles/main.css"/>
    <link rel="stylesheet" href="styles/vendor.css"/>
    <script src="scripts/vendor.js"></script>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      var gaKeys = {'sso.tomsguide.fr': 'UA-65818001-3', 'sso.tomshardware.com': 'UA-65818001-1', 'sso.tomshardware.de': 'UA-65818001-2'};
      var gaKey = gaKeys[location.hostname];
      if (gaKey) {
        ga('create', gaKey, 'auto');
        ga('send', 'pageview');
      } else {
        ga('create', 'UA-XXXXX-X');
        ga('send', 'pageview');
      }
    </script>
    <script language="JavaScript" type="text/javascript">
        var Purch = Purch || {};
        Purch.Omniture = Purch.Omniture || {};
        Purch.Omniture.params = Purch.Omniture.params || {};
    </script>
  </head>
  <body ng-app="stormpathIdpApp">
    <script language="JavaScript" type="text/javascript"></script>
    <script type="text/ng-template" id="views/login.html">
      <div ng-show="message" class="context-message">
        <span>{{message}}</span>
      </div>

      <div class="view login-view" ng-show="ready">
        <div class="box row">
          <div class="email-password-area  col-xs-12" ng-class="[hasSocial ? 'small col-sm-8' : 'large col-sm-12']">
            <div class="header title">
              <span>{{ 'LOGIN.PAGE_TITLE' | translate }}</span>
              <span>
                <br>
                <span> {{ 'LOGIN.OR' | translate }} </span>
                <a href="#register">{{ 'LOGIN.REGISTER' | translate }}</a>
              </span>

            </div>
            <div class="alert alert-danger bad-login" ng-show="errors.badLogin">
                {{ 'LOGIN.INVALID_NAME_OR_PASSWORD' | translate }}
            </div>
            <div class="alert alert-danger bad-login-username" ng-show="errors.badUsername">
              {{ 'LOGIN.INVALID_NAME' | translate }} {{ 'LOGIN.INVALID_NAME_RESOLUTION_HINT' | translate }} <a ng-if="faqUrl" href="{{faqUrl}}">{{ 'LOGIN.INVALID_NAME_FAQ' | translate }}</a>
            </div>
            <div class="alert alert-danger bad-login-password" ng-show="errors.badPassword">
              {{ 'LOGIN.INVALID_PASSWORD' | translate }} {{ 'LOGIN.INVALID_PASSWORD_RESOLUTION_HINT' | translate }} <a href="#forgot">{{ 'LOGIN.INVALID_PASSWORD_RECOVERY_OPTION' | translate }}</a> {{ 'LOGIN.INVALID_PASSWORD_OR' | translate }}<a ng-if="faqUrl" href="{{faqUrl}}">{{ 'LOGIN.INVALID_PASSWORD_FAQ' | translate }}</a>
            </div>
            <div class="alert alert-danger not-found" ng-show="errors.notFound">
              <span>{{ 'LOGIN.ACCOUNT_DO_NOT_EXIST' | translate }}</span>
              <a href="#/register">{{ 'LOGIN.CREATE_ACCOUNT' | translate }}</a>
              <span>?</span>
            </div>
            <div class="alert alert-danger" ng-show="errors.unknown">{{ 'LOGIN.UNKNOWN_ERROR' | translate }}</div>
            <div class="alert alert-danger" ng-show="errors.userMessage">
              <strong>{{ 'LOGIN.SORRY_RELOAD_TO_RETRY' | translate }}</strong>
              <br/>
              <br/>
              <p>{{errors.userMessage}}</p>
            </div>
            <form class="login-form" role="form" ng-submit="submit()">
              <div class="form-group group-email">
                <label>{{ 'LOGIN.USERNAME_OR_EMAIL' | translate }}</label>
                <div>
                  <input class="form-control" type="text" name="username" ng-model="username"/>
                </div>
              </div>
              <div class="form-group group-password">
                <label>{{ 'LOGIN.PASSWORD' | translate }}</label>
                <div>
                  <input class="form-control" type="password" name="password" ng-model="password"/>
                </div>
              </div>
              <div class="form-group group-remember-me">
                <div class="col-sm-6">
                  <input type="checkbox" id="remember">
                  <label for="remember">{{ 'LOGIN.REMEMBER_ME' | translate }}</label>
                </div>
              </div>
              <div>
                <button class="login btn btn-login btn-submit" type="submit" ladda="submitting" data-style="expand-right" ng-disabled="submitting || !username || !password">{{ 'LOGIN.LOG_IN' | translate }}</button>
              </div>
            </form>
          </div>

          <div class="social-area  col-xs-12 col-sm-4" ng-show="hasSocial">
            <div class="header">&nbsp;</div>
            <label>{{ 'LOGIN.EASY_1_CLICK_LOGIN' | translate }}</label>
            <button ng-repeat="p in providers" class="btn btn-social btn-{{p.providerId}}" ng-click="providerLogin(p.providerId)">{{p.providerId}}</button>
          </div>

        </div>

        <!-- New terms of use for EN  -->
        <div ng-show="language == 'en'" class="context-message">
          <span>
            We’ve updated our terms. By continuing to use the site and/or by logging into your account, you agree to the Site’s
            updated <a target="_blank" href="http://purch.com/terms-of-use/">Terms of Use</a> and
            <a target="_blank" href="http://www.purch.com/privacy-policy/">Privacy Policy</a>
          </span>
        </div>

        <a class="forgot" href="#forgot">{{ 'LOGIN.FORGOT_PASSWORD' | translate }}</a>

      </div>



    </script>
    <script type="text/ng-template" id="views/registration.html">
      <div class="view registration-view">
        <div class="box row">
          <div class="col-sm-12">
            <div class="header">
              <span>{{ 'REGISTRATION.PAGE_TITLE' | translate }}</span>
            </div>
            <form class="registration-form form-horizontal sp-form" role="form" ng-controller="RegistrationFormCtrl" ng-submit="submit()" name="registration">
              <div class="alert alert-danger" ng-show="unknownError">
                <strong>{{ 'REGISTRATION.SORRY_RELOAD_TO_RETRY' | translate }}</strong>
                <br/>
                <br/>
                <p>{{unknownError}}</p>
              </div>

              <div class="form-group group-email has-feedback" ng-class="{'has-error':errors.duplicateUser}" form-group>
                <label class="col-sm-4">{{ 'REGISTRATION.EMAIL' | translate }}</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="email" required ng-trim="true" form-control email-validation validate-on-blur/>
                  <span class="glyphicon glyphicon-ok form-control-feedback" ng-hide="!fields.email.value || errors.duplicateUser || validationError" aria-hidden="true"></span>
                  <small class="has-error duplicate-user" ng-show="errors.duplicateUser">{{ 'REGISTRATION.EMAIL_ALREADY_REGISTERED' | translate }}</small>
                  <small class="has-error validation-error" ng-show="validationError && !pristine && !typing">{{ 'REGISTRATION.INVALID_EMAIL_ADDRESS' | translate }}</small>
                </div>
              </div>

              <div class="form-group group-username has-feedback" ng-class="{'has-error':errors.duplicateUsername}" form-group>
                  <label class="col-sm-4">{{ 'REGISTRATION.USERNAME' | translate }}</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="username" ng-model="username" ng-pattern="/^([-a-zA-Z0-9_ ]){6,30}$/" required ng-trim="true" form-control username-validation validate-on-blur/>
                    <span class="glyphicon glyphicon-ok form-control-feedback" ng-hide="!fields.username.value || errors.duplicateUsername || validationError" aria-hidden="true"></span>
                    <ul class="list-unstyled">
                      <li ng-show="!pristine && registration.username.$error.required && !typing"><small class="has-error empty-username">{{ 'REGISTRATION.USERNAME_REQUIRED' | translate }}</small></li>
                      <li ng-show="registration.username.$error.pattern && !typing"><small class="has-error invalid-username-pattern">{{ 'REGISTRATION.USERNAME_PATTERN_ERROR' | translate }}</small></li>
                      <li ng-show="!registration.username.$error.pattern && registration.username.$error.duplicateUsername && !typing"><small class="has-error duplicate-username">{{ 'REGISTRATION.USERNAME_ALREADY_USED' | translate }}</small></li>
                      <li ng-show="!registration.username.$error.pattern && errors.duplicateUsername && !typing"><small class="has-error duplicate-username">{{ 'REGISTRATION.USERNAME_ALREADY_USED' | translate }}</small></li>
                      <li ng-show="validationError && !pristine && !registration.username.$error.required && !typing"><small class="has-error invalid-username">{{ 'REGISTRATION.INVALID_USERNAME' | translate }}</small></li>
                     </ul>
                  </div>
              </div>

              <div class="form-group group-password has-feedback" form-group>
                <label class="col-sm-4">{{ 'REGISTRATION.PASSWORD' | translate }}</label>
                <div class="col-sm-8">
                  <input type="password" class="form-control" name="password" required ng-trim="true" form-control password-policy-validation validate-on-blur/>
                  <span class="glyphicon glyphicon-ok form-control-feedback" ng-hide="!fields.password.value || validationError" aria-hidden="true"></span>
                  <div ng-include="'views/password-error-messages.html'"></div>
                </div>
              </div>

              <div class="form-group group-confirm-password has-feedback" form-group>
                <label class="col-sm-4">{{ 'REGISTRATION.CONFIRM_PASSWORD' | translate }}</label>
                <div class="col-sm-8">
                  <input type="password" class="form-control" name="passwordConfirm" required ng-trim="true" form-control password-match-validation validate-on-blur/>
                  <span class="glyphicon glyphicon-ok form-control-feedback" ng-hide="!fields.passwordConfirm.value || validationError" aria-hidden="true"></span>
                  <small class="help-block" ng-show="validationError && !pristine && !typing">{{ 'REGISTRATION.PASSWORD_DOES_NOT_MATCH' | translate }}</small>
                </div>
              </div>

              <div class="form-group group-terms-of-use">
                <div class="col-sm-12 terms">
                  <label ng-if="privacyPolicyUrl">{{ 'REGISTRATION.TERMS_OF_USE_ACCEPTANCE_REQUIRED' | translate }} <a ng-if="termsUrl" href="{{termsUrl}}" target="_blank">{{ 'REGISTRATION.TERMS_OF_USE_LINK' | translate }}</a> {{ 'REGISTRATION.TERMS_OF_USE_BETWEEN' | translate }} <a ng-if="privacyPolicyUrl" href="{{privacyPolicyUrl}}" target="_blank">{{ 'REGISTRATION.PRIVACY_POLICY_LINK' | translate }}</a> {{ 'REGISTRATION.TERMS_OF_USE_POSTFIX' | translate }}</label>
                  <label ng-if="!privacyPolicyUrl">{{ 'REGISTRATION.TERMS_OF_USE_ACCEPTANCE_REQUIRED' | translate }} <a ng-if="termsUrl" href="{{termsUrl}}" target="_blank">{{ 'REGISTRATION.TERMS_OF_USE_LINK' | translate }}</a> {{ 'REGISTRATION.TERMS_OF_USE_POSTFIX' | translate }}</label>
                </div>
              </div>

              <button class="btn btn-register btn-submit" type="submit" ladda="submitting" data-style="expand-right" ng-disabled="submitting || registration.$invalid">{{ 'REGISTRATION.CREATE_ACCOUNT' | translate }}</button>
            </form>
          </div>
        </div>
        <a class="to-login" href="#">{{ 'REGISTRATION.GO_BACK_TO_LOGIN' | translate }}</a>
      </div>
    </script>
    <script type="text/ng-template" id="views/forgot.html">
      <div class="view forgot-view">
        <div class="box row">
          <div class="col-sm-12">
            <div class="header">
              <span ng-show="!sent && !retry">{{ 'FORGOT.PAGE_TITLE' | translate }}</span>
              <span ng-show="retry">{{ 'FORGOT.RESET_LINK_EXPIRED' | translate }}</span>
              <span ng-show="sent">{{ 'FORGOT.CHECK_YOUR_MAIL' | translate }}</span>

            </div>
            <div class="wd-sent" ng-show="sent">
              <p>
                <span>{{ 'FORGOT.WE_SENT_RESET_LINK' | translate }}</span>
                <strong>{{fields.email.value}}</strong>.
              </p>
              <p>&nbsp;</p>
            </div>
            <form class="forgot-form form-horizontal sp-form" role="form" ng-submit="submit()" ng-show='!sent'>


              <div class="form-group group-email has-feedback" ng-class="{'has-error':notFound}" form-group>
                <label class="col-sm-12" ng-hide="retry">{{ 'FORGOT.SEND_RESET_INSTRUCTIONS_TO' | translate }}</label>
                <label class="col-sm-12" ng-show="retry">{{ 'FORGOT.SEND_RESET_LINK_TO' | translate }}</label>
                <div class="col-sm-12">
                  <input type="text" class="form-control" name="email" form-control email-validation validate-on-blur/>
                  <span class="glyphicon glyphicon-ok form-control-feedback" ng-hide="validationError || notFound || unknownError" aria-hidden="true"></span>
                  <small class="help-block wd-invalid-email" ng-show="validationError && !pristine && !typing">{{ 'FORGOT.INVALID_EMAIL_ADDRESS' | translate }}</small>
                  <small class="help-block wd-not-found" ng-show="notFound"><span>{{ 'FORGOT.ACCOUNT_DO_NOT_EXIST' | translate }}</span></small>
                </div>
              </div>
              <div class="alert alert-danger" ng-show="unknownError">
                <strong>{{ 'FORGOT.SORRY_RELOAD_TO_RETRY' | translate }}</strong>
                <br/>
                <br/>
                <p>{{unknownError}}</p>
              </div>
              <button class="btn btn-forgot btn-submit" type="submit" ng-disabled="validationError">{{ 'FORGOT.RESET_PASSWORD' | translate }}</button>
            </form>
          </div>
        </div>
        <a ng-show="!sent" class="to-login" href="#" wd-back-to-login>{{ 'FORGOT.GO_BACK_TO_LOGIN' | translate }}</a>
      </div>
    </script>
    <script type="text/ng-template" id="views/reset.html">
      <div class="view reset-view" ng-show="status!=='loading'">
        <div class="box row">
          <div class="col-sm-12">
            <div class="header">
              <span ng-show="status=='verified'">{{ 'RESET.PASSWORD_RESET' | translate }}</span>
              <span ng-show="status=='failed'">{{ 'RESET.SORRY_SOMETHING_WENT_WRONT' | translate }}</span>
              <span ng-show="status=='success'">{{ 'RESET.PASSWORD_CHANGED' | translate }}</span>
            </div>
            <div ng-show="status=='failed'">
              <p>
                <span>{{ 'RESET.MAKE_NEW_PASSWORD_RESET_REQUEST' | translate }}</span>
                <a href="#/forgot">{{ 'RESET.CLICK_TO_RETRY' | translate }}</a>
              </p>
              <p>&nbsp;</p>
            </div>
            <div wd-success ng-show="status==='success'">
              <p>
                <span>{{ 'RESET.YOU_MAY_NOW' | translate }}</span>
                <a href="#/">{{ 'RESET.LOGIN' | translate }}</a>
              </p>
              <p>&nbsp;</p>
            </div>
            <div ng-show="error" class="alert alert-danger">
              <p><strong>{{ 'RESET.ERROR_WAS' | translate }}</strong></p>
              <p>{{error}}</p>
            </div>

            <form class="reset-form form-horizontal sp-form" role="form" ng-show="status=='verified'" ng-submit="submit()">
              <div class="form-group group-password" form-group>
                <label class="col-sm-4">{{ 'RESET.NEW_PASSWORD' | translate }}</label>
                <div class="col-sm-8">
                  <input type="password" class="form-control" name="password" form-control password-policy-validation validate-on-blur/>
                  <div ng-include="'views/password-error-messages.html'"></div>
                </div>
              </div>

              <div class="form-group group-confirm-password" form-group>
                <label class="col-sm-4">{{ 'RESET.CONFIRM_PASSWORD' | translate }}</label>
                <div class="col-sm-8">
                  <input type="password" class="form-control" name="passwordConfirm" form-control password-match-validation validate-on-blur/>
                  <small wd-pw-mismatch class="help-block" ng-show="validationError && !pristine && !typing">{{ 'RESET.PASSWORD_DO_NOT_MATCH' | translate }}</small>
                </div>
              </div>
              <div class="alert alert-danger" ng-show="unknownError">
                <strong>{{ 'RESET.SORRY_RELOAD_TO_RETRY' | translate }}</strong>
                <br/>
                <br/>
                <p>{{unknownError}}</p>
              </div>
              <button class="btn btn-reset btn-submit" type="submit" ladda="submitting" data-style="expand-right" ng-disabled="submitting">{{ 'RESET.SUBMIT' | translate }}</button>
            </form>
          </div>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="views/verify.html">
      <div class="view verify-view">
        <div class="box row">
          <div class="col-sm-12">
            <div class="header">
              <span>{{ 'VERIFY.ACCOUNT_CREATED' | translate }}</span>
            </div>
            <div class="verified">
              <p>
                <span>{{ 'VERIFY.REDIRECTION_LOADING' | translate }}</span>
              </p>
              <p class="text-center">
                <span class="throbber-loader"></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="views/unverified.html">
      <div class="view unverified-view">
        <div class="box row">
          <div class="col-sm-12">
            <div class="header">
              <span>{{ 'UNVERIFIED.CHECK_YOUR_MAIL' | translate }}</span>
            </div>
            <p ng-if="!email">{{ 'UNVERIFIED.ACCOUNT_CREATED_ACTIVATE_IT' | translate }}</p>
            <p ng-if="email">{{ 'UNVERIFIED.ACCOUNT_CREATED_CLICK_ON_THE_EMAILED_LINK_PREFIX' | translate }}{{email}}{{ 'UNVERIFIED.ACCOUNT_CREATED_CLICK_ON_THE_EMAILED_LINK_SUFFIX' | translate }}</p>
          </div>
        </div>
      </div>
    </script>
    <script type="text/ng-template" id="views/error.html">
      <div class="view error-view">
        <div class="row">
          <div class="col-sm-12">
            <div>
              <p class="header title">{{ 'ERROR.SORRY' | translate }}</p>
              <br/>
              <p class="alert error" ng-repeat="e in errors">
                <span>{{e}}</span>
              </p>
              <br/>
              <p>{{ 'ERROR.GO_BACK' | translate }}</p>
            </div>
          </div>
        </div>
        <a class="to-referrer" href="#" back-button>{{ 'ERROR.GO_BACK_TO_REFERRER' | translate }}</a>
      </div>
    </script>
    <script type="text/ng-template" id="views/password-error-messages.html">
      <small class="help-block" ng-show="errors.minLength" wd-minLength>{{ 'PWD_ERRORS.PASSWORD_TOO_SHORT' | translate }}</small>
      <small class="help-block" ng-show="errors.maxLength" wd-maxLength>{{ 'PWD_ERRORS.PASSWORD_TOO_LONG' | translate }}</small>
      <small class="help-block" ng-show="errors.requireNumeric" wd-requireNumeric>{{ 'PWD_ERRORS.PASSWORD_REQUIRES_NUMBER' | translate }}</small>
      <small class="help-block" ng-show="errors.requireDiacritical" wd-requireDiacritical>{{ 'PWD_ERRORS.PASSWORD_REQUIRES_DIACRITICAL_CHARACTER' | translate }}</small>
      <small class="help-block" ng-show="errors.requireUpperCase" wd-requireUpperCase>{{ 'PWD_ERRORS.PASSWORD_REQUIRES_UPPERCASE_LETTER' | translate }}</small>
      <small class="help-block" ng-show="errors.requireLowerCase" wd-requireLowerCase>{{ 'PWD_ERRORS.PASSWORD_REQUIRES_LOWERCASE_LETTER' | translate }}</small>
    </script>
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="container" ng-controller="ErrorCtrl" ng-cloak>
      <div class="logo-container">
        <img ng-show="logoUrl" class="logo img-responsive" ng-src="{{logoUrl}}"/>
      </div>
      <div ng-show="inError" ng-include="'views/error.html'"></div>
      <div ng-hide="inError" ng-view="">
        <!-- this will be replaced a the view, as determined by the route config in app.js -->
      </div>
    </div>

    <footer class="footer environment-info" ng-controller="EnvironmentCtrl" ng-show="displayEnvironmentInfo">
      <div class="container">
        <p class="text-muted"><strong>{{environment}}!</strong> revision : {{revision}}</p>
      </div>
    </footer>

    <!--[if lt IE 9]>
    <script src="scripts/iecompat.js"></script>
    <![endif]-->

    <script src="scripts/app.js"></script>


    <script type="text/javascript">
      (function() {

        // Google+
       var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
       po.src = 'https://apis.google.com/js/client:plusone.js';
       var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);

        // RavenJS
        var sentryUrls = {'prod': 'http://91de5cb66fe348e6b0fe92d626097c3d@sentry-if.bestofmedia.com/20', 'qa': 'http://38aac761a86a4c62bb5d30cd46515f8e@sentry-env.bestofmedia.com/20'};
        var environments = {'sso.tomsguide.fr': 'prod', 'sso.tomshardware.com': 'prod', 'sso.tomshardware.de': 'prod', 'qa.sso.tomsguide.fr': 'qa', 'qa.sso.tomshardware.com': 'qa', 'qa.sso.tomshardware.de': 'qa'};
        var env = environments[location.hostname];
        if (env) {
          var sentryUrl = sentryUrls[env];
          if (sentryUrl) {
            Raven.config(sentryUrl, {
              whitelistUrls: [ /tomshardware\.com/, /tomshardware\.co\.uk/, /tomshardware\.fr/, /tomshardware\.de/, /tomsguide\.com/, /tomsguide\.fr/ ]
            }).install();
          }
        }

      })();
    </script>
  </body>
</html>
